
@{
    ViewBag.Title = "Detail Tour Page";
}

<div id="slide" class="carousel slide" data-ride="carousel" data-interval="10000">

    <ol class="carousel-indicators">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Uploads/homes/home1.jpg" />
        </div>
        <div class="item">
            <img src="~/Uploads/homes/home2.jpg" />
        </div>
        <div class="item">
            <img src="~/Uploads/homes/home3.jpg" />
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#slide" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div><!-- #container -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tour</a></li>
            <li class="active">Sai Gon Real</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 other-tour">
            <div class="item clearfix">
                <img src="~/Uploads/Tour/image1-1920x400.jpg" />
                <a href="#" class="wrap">
                    <span>Mekong local for a day</span>
                    <div class="tour-wrap">Highlights: Local people and their hospitality, food, and daily activities, Cao Dai Temple in Can Giuoc, Can Duoc local market, bike ride crossing paddy fields, boat trip and sampan cruise on the Upper Mekong River and Tan Thach creek…</div>
                </a>
            </div>
        </div>
        <div class="col-sm-4 other-tours">
            <ul>
                Private Vietnam tours
                <li class="item">
                    <a class="tour-link" href="#">MEKONG LOCAL FOR A DAY</a>
                </li>
                <li class="item">
                    <a class="tour-link" href="#">EXPERIENCE MEKONG</a>
                </li>
                <li class="item">
                    <a class="tour-link" href="#">INSIDE MEKONG DELTA</a>
                </li>
                <li class="item">
                    <a class="tour-link" href="#">INSIGHT MEKONG DELTA</a>
                </li>
                <li class="item">
                    <a class="tour-link" href="#">MEKONG LOCAL FOR A DAY</a>
                </li>
                <li class="item">
                    <a class="tour-link" href="#">EXPERIENCE MEKONG</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 content-tour">
            <h3>REAL SAIGON <small>(From 08:00 am to 17:00 pm)</small></h3>
            <span class="short-line"></span>
            <p>Today we will unveil the highlights of one of Asia’s most vibrant and welcoming cities, Saigon (as it is still popularly known as). It is a cultural melting pot with something to offer every traveler. There is no better time for visiting Saigon while it passes through a remarkable and rapid phase of transformation - going from some millions bicycles in the 90s, Saigon now is a city of some 6 million scooters and a few hundred thousand of cars. Above all, experiencing the heartfelt warmth and humor for which the Saigonese are renowned will stay with you long after you’ve departed for home. The alleys walk is designed to enable you to experience the real face of Saigon which will surely catch you by surprise. For over a century, millions of Saigonese have been living and earning their decent life in thousands of alleys which may well be anyone’s mind-blowing experience!</p>
            <div class="itinerary-block">
                <h4>** Full Itinerary **</h4>
                <ul>
                    <li>08:00am- from your hotel in Saigon, we kick start our exciting day with a short cyclo ride (40 minutes) at rush hour to Ho Thi Ky alleys with a short break for photos at the site of, ‘the most powerful photo of all time’ where a Buddhist monk set himself a fire in 1963 to oppose the then regime’s depressing on Buddhism</li>
                    <li>Upon arrival at Ho Thi Ky alleys, we will enjoy a short walk (30 minutes) in the alleys and visit Saigon’s largest wholesaled flower market which has been here for almost a century</li>
                    <li>Drive to Cho Lon (known as china town) and stroll through the backstreets market of Tan Thanh where jungles of motor-parts are provided for some 6 million motorbikes in Saigon. Interestingly, hundreds of U.S ammunition boxes found their way to this market after the Vietnam War and are now being reused as toolboxes</li>
                    <li>We go on to visit Binh Tay Market and the colorful Thien Hau Pagoda in the same area</li>
                    <li>Lunch at Ngon restaurant with its very fine collection of local & authentic dishes from across Vietnam</li>
                    <li>Afternoon: we will visit the sobering War Remnants Museum, the former Presidential Palace (also known as Unification Hall) and the historic French-built landmarks i.e. Notre Dame Cathedral, Central Post Office,  the Opera House, and Hotel de Ville to name but a few</li>
                </ul>
            </div>
            <div class="inclusions-block">
                <h4>Inclusions :</h4>
                <ul>
                    <li>All ground private transport by modern air-conditioned vehicle – Toyota Innova, model 2009-2011</li>
                    <li>40-minute cyclo ride</li>
                    <li>Sightseeing as specified in the itinerary including entrance fees</li>
                    <li>Lunch at Ngon restaurant</li>
                    <li>Professional English speaking guide</li>
                    <li>2 bottles of mineral water per person</li>
                </ul>
            </div>
            <div class="notinclusions-block">
                <h4>Not inclusions :</h4>
                <ul>
                    <li>Drinks, meals and any other incidental expenses are not mentioned in the above.</li>
                    <li>Personal travel insurance</li>
                    <li>Tipping</li>
                </ul>
            </div>
            <div class="notice-block">
                <h4>** Notice **</h4>
                <ul>
                    <li>Some photos in the museum are very graphic, confronting, and distressing.</li>
                    <li>T-shirt, shorts or light-clothes and sandals are strongly recommended</li>
                </ul>
            </div>
            <h4>Please read or write reviews on Tripadvisor:</h4>
            <a href="#">http://www.tripadvisor.in/Attraction_Review-g293925-d2226088-Reviews-Water_Buffalo_Day_Tours-Ho_Chi_Minh_City.html</a>
            <table>
                <thead>
                    <tr>
                        <td>1 Pax</td>
                        <td>2 Pax</td>
                        <td>3 Pax</td>
                        <td>4 Pax</td>
                        <td>5 Pax</td>
                        <td>6 Pax</td>
                        <td>7 Pax</td>
                        <td>8 Pax</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>130</td>
                        <td>80</td>
                        <td>70</td>
                        <td>60</td>
                        <td>55</td>
                        <td>55</td>
                        <td>40</td>
                        <td>40</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center btn-booking-group">
                <a href="#" class="btn btn-booking btn-lg">Booking Now !</a>
            </div>
        </div>
    </div>
</div>

<div class="container list-tour">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h3>Related tours</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="item">
                <img src="~/Uploads/Tour/image1-1140x400.jpg" />
                <h4>can gio ecological</h4>
                <div class="tour-link-wrap">Can Gio ecological & biosphere conservation has been considered as the green lung of Saigon. It is the second largest mangroves forest in Vietnam, and has been recognized as one of the world’s 65 most sustainable eco-tourism destinations. With the size of over 70.000 hectares of mangroves and its rich and diversity species of fauna, flora and wildlife , Can Gio has emerged as a very popular destination for travelers who would love to get back to ...</div>
                <a class="tour-link" href="/Tour/Detail"></a>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="item">
                <img src="~/Uploads/Tour/image2-1140x400.jpg" />
                <h4>can gio ecological</h4>
                <div class="tour-link-wrap">Can Gio ecological & biosphere conservation has been considered as the green lung of Saigon. It is the second largest mangroves forest in Vietnam, and has been recognized as one of the world’s 65 most sustainable eco-tourism destinations. With the size of over 70.000 hectares of mangroves and its rich and diversity species of fauna, flora and wildlife , Can Gio has emerged as a very popular destination for travelers who would love to get back to ...</div>
                <a class="tour-link" href="/Tour/Detail"></a>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="item">
                <img src="~/Uploads/Tour/image3-1140x400.jpg" />
                <h4>can gio ecological</h4>
                <div class="tour-link-wrap">Can Gio ecological & biosphere conservation has been considered as the green lung of Saigon. It is the second largest mangroves forest in Vietnam, and has been recognized as one of the world’s 65 most sustainable eco-tourism destinations. With the size of over 70.000 hectares of mangroves and its rich and diversity species of fauna, flora and wildlife , Can Gio has emerged as a very popular destination for travelers who would love to get back to ...</div>
                <a class="tour-link" href="/Tour/Detail"></a>
            </div>
        </div>
    </div>
</div>