
@{
    ViewBag.Title = "Tour Page";
}

<div id="slide" class="carousel slide" data-ride="carousel" data-interval="10000">

    <ol class="carousel-indicators">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Uploads/homes/home1.jpg" />
        </div>
        <div class="item">
            <img src="~/Uploads/homes/home2.jpg" />
        </div>
        <div class="item">
            <img src="~/Uploads/homes/home3.jpg" />
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#slide" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div><!-- #container -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Tour</li>
        </ol>
    </div>
</div>
<div class="container list-tour">
    <div class="row">
        <div class="col-sm-12">
            <div class="item">
                <img src="~/Uploads/Tour/image1-1140x400.jpg" />
                <h4>can gio ecological</h4>
                <div class="tour-link-wrap">Can Gio ecological & biosphere conservation has been considered as the green lung of Saigon. It is the second largest mangroves forest in Vietnam, and has been recognized as one of the world’s 65 most sustainable eco-tourism destinations. With the size of over 70.000 hectares of mangroves and its rich and diversity species of fauna, flora and wildlife , Can Gio has emerged as a very popular destination for travelers who would love to get back to ...</div>
                <a class="tour-link" href="/Tour/Detail"></a>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="item">
                <img src="~/Uploads/Tour/image2-1140x400.jpg" />
                <h4>can gio ecological</h4>
                <div class="tour-link-wrap">Can Gio ecological & biosphere conservation has been considered as the green lung of Saigon. It is the second largest mangroves forest in Vietnam, and has been recognized as one of the world’s 65 most sustainable eco-tourism destinations. With the size of over 70.000 hectares of mangroves and its rich and diversity species of fauna, flora and wildlife , Can Gio has emerged as a very popular destination for travelers who would love to get back to ...</div>
                <a class="tour-link" href="/Tour/Detail"></a>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="item">
                <img src="~/Uploads/Tour/image3-1140x400.jpg" />
                <h4>can gio ecological</h4>
                <div class="tour-link-wrap">Can Gio ecological & biosphere conservation has been considered as the green lung of Saigon. It is the second largest mangroves forest in Vietnam, and has been recognized as one of the world’s 65 most sustainable eco-tourism destinations. With the size of over 70.000 hectares of mangroves and its rich and diversity species of fauna, flora and wildlife , Can Gio has emerged as a very popular destination for travelers who would love to get back to ...</div>
                <a class="tour-link" href="/Tour/Detail"></a>
            </div>
        </div>
    </div>
</div>