<div id="alert" class="modal fade" tabindex="-1" aria-labelledby="alert" data-keyboard="false" data-backdrop="static" ak-modal="modal.modalAlert.isShowModal">
    <div class="modal-dialog modal-alert-app">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal.modalAlert.isShowModal = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Title Alert</h4>
            </div>
            <div class="modal-body">
                <p>{{modal.modalAlert.msgAlert}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="modal.modalAlert.isShowModal = false">Load dữ liệu không thành công</button>
            </div>
        </div>
    </div>
</div>
